.interest-info {
    margin: 0 4rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid lightgray;
}   
.interest-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.interest-btn{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #f3912e;
    height: 1.75rem;
    width: 5rem;
    cursor: pointer;
}

.interest-btn:hover{
    background-color: #f4a352;
}
.interest-bottom{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.interest{
    background-color: rgba(255, 158, 84, 0.1);
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 5px;
    color: orange;
}

